body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://imgur.com/LxseBIP.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1100px;
  background-color: black;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 9vh);
  grid-template-rows: repeat(6, 10vh);
  background-image: url(https://imgur.com/P3cbO1I.gif);
  background-size: 730px;
}

#board > div {
  border-radius: 50px;
  cursor: pointer;
  margin-top: 8.5px;
  border: 2.5px solid gray;
  opacity: 0.6;
}

button {
  margin-top: 4vmin;
  font-size: 3vmin;
  /*color: rgb(188, 133, 243);
  background-color: whitesmoke;*/
}

#guides {
    display: grid;
    grid-template-columns: repeat(7, 10vh);
}

#guides > div {
    height: 10px;
    border-width: 5px;
    border-style: ridge;
    border-color: white;
    cursor: pointer;
}